.bcol_white {
    background-color: $col_white;
}
.bcol_theme {
    background-color: $col_theme;
}
.bcol_red {
    background-color: $col_red;
}
.bcol_navy {
    background-color: $col_navy;
}

.col_black {
    color: $col_black;
}
.col_white {
    color: $col_white;
}
.col_red {
    color: $col_red;
}