.wapper{
  font-size: 16px;

  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;

  background: rgb(231,124,87);
  background: linear-gradient(0deg, rgba(231,124,87,1) 0%, rgba(0,153,255,1) 100%);
}
