.wapper{
  font-size: 12px;

  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;

  background: #E77C57;
  background: linear-gradient(0deg, #E77C57 0%, #0099FF 100%);

  @include mq(pc){
    font-size: 16px;
  }
}
