.wapper{
  font-size: 12px;

  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;

  background: #E77C57;
  background: linear-gradient(0deg, #E77C57 0%, #0099FF 100%);

  @include mq(pc){
    font-size: 16px;
  }
}

p{
  letter-spacing: 0.05em;
}

h1, h2, h3, h4, h5, h6{
  letter-spacing: 0.1em;
}
