/*COLOR*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wapper {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background: #E77C57;
  background: -webkit-gradient(linear, left bottom, left top, from(#E77C57), to(#0099FF));
  background: -webkit-linear-gradient(bottom, #E77C57 0%, #0099FF 100%);
  background: -o-linear-gradient(bottom, #E77C57 0%, #0099FF 100%);
  background: linear-gradient(0deg, #E77C57 0%, #0099FF 100%); }
  @media screen and (min-width: 768px) {
    .wapper {
      font-size: 16px; } }

.header {
  width: 100vw;
  height: 256px;
  padding: 64px; }
  .header_title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 16px 0;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF; }
    @media screen and (min-width: 768px) {
      .header_title {
        font-size: 2.4rem; } }
  .header_subtitle {
    font-family: "Sawarabi Gothic";
    font-size: 1rem;
    text-align: center;
    color: #FFFFFFAF; }
    @media screen and (min-width: 768px) {
      .header_subtitle {
        font-size: 1.2rem; } }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  text-align: center;
  color: #5F5F5F;
  background-color: #F3F3F3; }
  .menu_item {
    line-height: 48px;
    padding: 0 24px;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    @media screen and (min-width: 768px) {
      .menu_item {
        padding: 0 32px; } }
    .menu_item a {
      font-size: 1.0em;
      text-decoration: none;
      letter-spacing: 0.05em;
      color: #5F5F5F; }
    .menu_item:hover {
      background-color: #F0F0F0; }

.contents {
  font-family: "Sawarabi Gothic", sans-serif;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  background-color: white; }

.footer {
  width: 100vw;
  height: 128px;
  background-color: #FFFFFF; }

.plain, .plain-minimum {
  position: relative;
  width: 100%;
  margin: 48px auto;
  padding: 0 16px;
  color: #5F5F5F; }
  @media screen and (min-width: 768px) {
    .plain, .plain-minimum {
      max-width: 800px;
      margin: 88px auto;
      padding: 0 8px; } }
  .plain_title {
    font-family: "Montserrat", sans-serif;
    font-size: 2.0em;
    position: relative;
    max-width: 100%;
    margin: 32px 0;
    padding: 9px 0;
    text-align: center;
    letter-spacing: 0.1em; }
    .plain_title::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 2px;
      content: "";
      background: -webkit-gradient(linear, left top, right top, from(#E77C57), to(#0099FF));
      background: -webkit-linear-gradient(left, #E77C57 0%, #0099FF 100%);
      background: -o-linear-gradient(left, #E77C57 0%, #0099FF 100%);
      background: linear-gradient(90deg, #E77C57 0%, #0099FF 100%); }
  .plain_caption {
    font-size: 1.6em; }
  .plain_text {
    font-size: 1.0em;
    line-height: 1.5em;
    display: block;
    max-width: 600px;
    margin: 0 auto; }

.plain-minimum {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .plain-minimum {
      width: 60%; } }

.grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-rows: 320px;
  grid-gap: 12px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr; }
  @media screen and (min-width: 768px) {
    .grid {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr; } }

.btn, .btn-white, .btn-black, .btn-blue, .btn-orange {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 16px auto;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 5px; }

.btn-white {
  color: #5F5F5F;
  border: 1px solid #5F5F5F;
  background-color: #FFFFFF; }

.btn-black {
  color: #FFFFFF;
  background-color: #272727; }

.btn-blue {
  color: #FFFFFF;
  background-color: #0099FF; }

.btn-orange {
  color: #272727;
  background-color: #ffa600; }

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin: 16px auto; }
  @media screen and (min-width: 768px) {
    .links {
      width: 100%;
      margin: 16px 0; } }
  .links_item, .links_item-twitter, .links_item-facebook, .links_item-github, .links_item-instagram {
    font-size: 1.8em;
    line-height: 64px;
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 16px;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    text-align: center;
    border: 1px solid #C5C5C5;
    border-radius: 50%;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .links_item:hover, .links_item-twitter:hover, .links_item-facebook:hover, .links_item-github:hover, .links_item-instagram:hover {
      -webkit-box-shadow: 0 4px 2px #C5C5C5;
      box-shadow: 0 4px 2px #C5C5C5; }
  .links_item-twitter {
    color: #1DA1F2; }
  .links_item-facebook {
    color: #3C5A99; }
  .links_item-github {
    color: #333333; }
  .links_item-instagram {
    background: #D6249F;
    background: -webkit-radial-gradient(30% 107%, circle, #FDF497 0%, #FDF497 5%, #FD5949 45%, #D6249F 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #FDF497 0%, #FDF497 5%, #FD5949 45%, #D6249F 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #FDF497 0%, #FDF497 5%, #FD5949 45%, #D6249F 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    -webkit-text-fill-color: transparent; }

.table {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center; }
  .table .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 8px 16px;
    border-bottom: 1px solid #C5C5C5; }
    .table .row_head {
      display: inline-block;
      width: 30%;
      margin: 0 8px;
      text-align: center; }
    .table .row_data {
      display: inline-block;
      width: 70%;
      margin: 0 8px;
      text-align: left; }

.img, .img-circle {
  display: block;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .img, .img-circle {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); } }

.img-circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #272727; }
  @media screen and (min-width: 768px) {
    .img-circle {
      width: 200px;
      height: 200px; } }

.split {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .split {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.align-left {
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  text-align: left; }

.align-right {
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  text-align: right; }

.picard {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100px; }
  @media screen and (min-width: 768px) {
    .picard {
      height: 200px; } }
  .picard_img {
    width: 30%;
    height: auto; }
  .picard .description {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0 16px; }
    .picard .description_title {
      font-size: 1.4em; }
    .picard .description_text {
      line-height: 1.5em;
      display: inline-block;
      overflow: hidden;
      width: 100%;
      padding: 16px 0;
      letter-spacing: 0.02em; }
  .picard_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
