html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article {
  width: 100%;
  padding: 40px 0;
}
@media screen and (max-width: 768px) {
  article {
    padding: 42px 20px;
  }
}
article section {
  width: 750px;
  margin: 0px auto 20px auto;
}
@media screen and (max-width: 768px) {
  article section {
    width: 100%;
  }
}

img {
  width: 100%;
  padding: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}

h1 {
  font-size: 30px;
  margin-bottom: calc(30px * 0.8);
  letter-spacing: calc(30px / 4);
  line-height: calc(30px * 2.5);
  color: #FFFFFF;
}

h2 {
  font-size: 23px;
  letter-spacing: calc(23px / 4);
  line-height: calc(23px * 2.5);
  color: #FFFFFF;
}

h3 {
  font-size: 19px;
  letter-spacing: calc(19px / 4);
  line-height: calc(19px * 2.5);
  color: #FFFFFF;
}

h4, h5, h6 {
  font-size: 19px;
  letter-spacing: calc(19px / 4);
  line-height: calc(19px * 2.5);
  color: #FFFFFF;
}

p {
  font-size: 15px;
  letter-spacing: calc(15px / 4);
  line-height: calc(15px * 2.5);
  color: #FFFFFF;
}

a {
  font-size: 15px;
  letter-spacing: calc(15px / 4);
  line-height: calc(15px * 2.5);
  color: #FFFFFF;
  padding: 16px;
}

.fab, .fas {
  font-size: 30px;
}

.navigate {
  width: 275px;
  height: 100vh;
  background-color: #FFFFFF;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .navigate {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 64px;
  }
}
.navigate ul {
  width: 100%;
  height: 500px;
  padding: 64px 0;
}
@media screen and (max-width: 768px) {
  .navigate ul {
    height: 64px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 12px;
  }
}
.navigate ul li {
  text-align: center;
  display: inline-block;
  height: 64px;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .navigate ul li {
    margin-bottom: 0px;
  }
}
.navigate ul li a {
  vertical-align: middle;
  font-size: 15px;
  color: #27476E;
  line-height: 64px;
  text-decoration: none;
}

.credit {
  width: calc(100% - 275px);
  padding: 64px 0px;
}
@media screen and (max-width: 768px) {
  .credit {
    width: 100%;
  }
}
.credit ul {
  width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
}
@media screen and (max-width: 768px) {
  .credit ul {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.credit ul li {
  text-align: center;
  width: 25%;
  height: 48px;
}
@media screen and (max-width: 768px) {
  .credit ul li {
    width: 50%;
    height: 72px;
  }
}
.credit ul li a {
  display: block;
  line-height: 48px;
  text-decoration: none;
}

.main {
  width: calc(100% - 275px);
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0077b7), to(#27476E));
  background-image: -o-linear-gradient(top, #0077b7, #27476E);
  background-image: linear-gradient(180deg, #0077b7, #27476E);
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .main {
    width: 100vw;
  }
}

.visual {
  width: 100%;
  padding: 200px 0;
}
@media screen and (max-width: 768px) {
  .visual {
    padding: 180px 20px;
  }
}

.card {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media screen and (max-width: 768px) {
  .card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.card > img {
  width: 250px;
  height: 200px;
  padding: 12px;
}
@media screen and (max-width: 768px) {
  .card > img {
    width: 100%;
  }
}
.card_inner {
  width: 65%;
  padding: 12px;
}
@media screen and (max-width: 768px) {
  .card_inner {
    width: 100%;
  }
}
.card_inner p {
  width: 100%;
}

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 6px 32px;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #464646;
}

.icon {
  display: inline-block;
  padding: 2px 12px;
}

.fx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fx img {
  width: 40%;
}

.fx_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.fx_wrap img {
  width: 40%;
}

.fx_ju_around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.fx_ju_around img {
  width: 40%;
}

.fx_inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.bcol_white {
  background-color: #FFFFFF;
}

.bcol_theme {
  background-color: #0077b7;
}

.bcol_red {
  background-color: #EE4266;
}

.bcol_navy {
  background-color: #27476E;
}

.col_black {
  color: #464646;
}

.col_white {
  color: #FFFFFF;
}

.col_red {
  color: #EE4266;
}

.pb_5 {
  padding-bottom: 5px;
}

.pb_10 {
  padding-bottom: 10px;
}

.pb_15 {
  padding-bottom: 15px;
}

.pb_20 {
  padding-bottom: 20px;
}

.pb_30 {
  padding-bottom: 30px;
}

.pb_50 {
  padding-bottom: 50px;
}

.mb_5 {
  margin-bottom: 5px;
}

.mb_10 {
  margin-bottom: 10px;
}

.mb_15 {
  margin-bottom: 15px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_30 {
  margin-bottom: 30px;
}