article{
    width: 100%;
    padding: 40px 0;
    @include mq() {
        padding: 42px 20px;
    }
    section{
        width: 750px;
        margin: 0px auto 40px auto;
        @include mq() {
            width: 100%;
        }
    }
}

img {
    width: 100%;
    padding: 8px;
    object-fit: cover;
    font-family: "object-fit: cover";
}

h1 {
    font-size: $fs_xxl;
    margin-bottom: calc(#{$fs_xxl} * 0.8);
    letter-spacing: calc(#{$fs_xxl} / 4);
    line-height: calc(#{$fs_xxl} * 2.5);
    color: $col_white;
}
h2 {
    font-size: $fs_xl;
    letter-spacing: calc(#{$fs_xl} / 4);
    line-height: calc(#{$fs_xl} * 2.5);
    color: $col_white;
}
h3 {
    font-size: $fs_l;
    letter-spacing: calc(#{$fs_l} / 4);
    line-height: calc(#{$fs_l} * 2.5);
    color: $col_white;
}
h4, h5, h6 {
    font-size: $fs_l;
    letter-spacing: calc(#{$fs_l} / 4);
    line-height: calc(#{$fs_l} * 2.5);
    color: $col_white;
}

p {
    font-size: $fs_m;
    letter-spacing: calc(#{$fs_m} / 4);
    line-height: calc(#{$fs_m} * 2.5);
    color: $col_white;
}

a {
    font-size: $fs_m;
    letter-spacing: calc(#{$fs_m} / 4);
    line-height: calc(#{$fs_m} * 2.5);
    color: $col_white;
    padding: 16px;
}

.fab, .fas{
    font-size: $fs_xxl;
}