$breakpoints: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;
@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

$col_theme: #0077b7;
$col_blueLight: #71cdff;
$col_navy: #27476E;
$col_navyDark: #030333;
$col_cream: #EAF8BF;
$col_yellow: #ECA400;
$col_red: #EE4266;
$col_white: #FFFFFF;
$col_grayLight: #DADADA;
$col_black: rgb(70, 70, 70);

$gra_theme: linear-gradient(180deg, $col_theme, $col_navy);

$fs_s: 12px;
$fs_m: 15px;
$fs_l: 19px;
$fs_xl: 23px;
$fs_xxl: 30px;

$size_nav: 250px;