$breakpoints: (
  "pc": "screen and (min-width: 768px)",
  "xl": "screen and (min-width: 1200px)"
) !default;

@mixin mq($breakpoint: pc){
  @media #{map-get($breakpoints, $breakpoint)}{
    @content;
  }
}

/*COLOR*/

$col-text: #5F5F5F;
$col-lightblack: #C5C5C5;
$col-black: #272727;
$col-white: #FFFFFF;
$col-blue: #0099FF;
$col-orange: rgb(255, 166, 0);
