.contents{
  font-family: "Sawarabi Gothic", sans-serif;

  position: relative;

  overflow: hidden;

  width: 96%;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 48px;

  border-radius: 12px;
  background-color: white;
}
