.header{
  width: 100vw;
  height: 256px;
  padding: 64px;

  &_title{
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;

    margin: 16px 0;

    text-align: center;

    color: #FFFFFF;

@include mq(pc){
      font-size: 2.4rem;
    }
  }

  &_subtitle{
    font-family: "Sawarabi Gothic";
    font-size: 1rem;

    text-align: center;

    color: #FFFFFFAF;

@include mq(pc){
      font-size: 1.2rem;
    }
  }
}
