.credit{
    width: calc(100% - #{($size_nav)});
    padding: 64px 0px;

    ul{
        width: 750px;
        display: flex;
        margin: 0px auto;
        li{
            text-align: center;
            width: 20%;
            height: 48px;
            a{
                display: block;
                line-height: 48px;
                text-decoration: none;
            }
        }
    }
}