.fx {
    display: flex;
    img {
        width: 40%;
    }
}
.fx_wrap {
    display: flex;
    flex-wrap: wrap;
    img {
        width: 40%;
    }
}
.fx_ju_around{
    display: flex;
    justify-content: space-around;
    img {
        width: 40%;
    }
}

.fx_inline {
     display: inline-flex;
}