.btn{
  display: block;

  width: 100%;
  max-width: 300px;
  margin: 16px auto;
  padding: 12px 0;

  text-align: center;
  text-decoration: none;

  border-radius: 5px;
}

.btn-white{
  color: $col-text;
  border: 1px solid $col-text;
  background-color: $col-white;

  @extend .btn;
}
.btn-black{
  color: $col-white;
  background-color: $col-black;

  @extend .btn;
}
.btn-blue{
  color: $col-white;
  background-color: $col-blue;

  @extend .btn;
}
.btn-orange{
  color: $col-black;
  background-color: $col-orange;

  @extend .btn;
}
