.img{
  display: block;

  margin: 0 auto;

  @include mq(pc){
    position: relative;
    top: 50%;

    transform: translateY(-50%);
  }
}

.img-circle{
  width: 200px;
  height: 200px;

  border-radius: 50%;
  background-color: $col-black;

  @extend .img;
}
