.img{
  display: block;

  width: 80%;
  height: auto;
  margin: 24px auto;

  @include mq(pc){
  }
}

.img-circle{
  width: 160px;
  height: 160px;

  border-radius: 50%;
  background-color: $col-black;

  @extend .img;
  @include mq(pc){
    position: relative;
    top: 50%;

    width: 200px;
    height: 200px;

    transform: translateY(-50%);
  }
}
