.img{
  position: absolute;
  top: 50%;

  display: block;

  margin: 0 auto;

  transform: translateY(-50%);
}

.img-circle{
  width: 200px;
  height: 200px;

  color: $col-text;
  border-radius: 50%;
  background-color: $col-black;

  @extend .img;
}
