.links{
  display: flex;
  justify-content: center;

  width: 100%;
  margin: 16px auto;

  @include mq(pc){
    width: 100%;
    margin: 16px 0;
  }

  &_item{
    font-size: 1.8em;
    line-height: 64px;

    display: block;

    width: 64px;
    height: 64px;
    margin: 0 16px;

    transition: box-shadow 0.3s;
    text-align: center;

    border: 1px solid $col-lightblack;
    border-radius: 50%;
    box-shadow: none;

    &:hover{
      box-shadow: 0 4px 2px $col-lightblack;
    }
  }
  &_item-twitter{
    color: #1DA1F2;

    @extend .links_item;
  }
  &_item-facebook{
    color: #3C5A99;

    @extend .links_item;
  }
  &_item-github{
    color: #333333;

    @extend .links_item;
  }
  &_item-instagram{
    background: #D6249F;
    background: radial-gradient(circle at 30% 107%, #FDF497 0%, #FDF497 5%, #FD5949 45%,#D6249F 60%,#285AEB 90%);
    background-clip: text;
    box-shadow: 0 3px 10px rgba(0,0,0,0.25);

    @extend .links_item;
    -webkit-text-fill-color: transparent;
  }
}
