.plain{
  position: relative;

  width: 100%;
  margin: 32px auto;
  padding: 0 16px;

  color: $col-text;

  @include mq(pc){
    max-width: 800px;
    margin: 64px auto;
    padding: 0 16px;
  }

  &_title{
    font-family: "Montserrat", sans-serif;
    font-size: 2.0em;

    position: relative;

    max-width: 100%;
    margin: 32px 0;
    padding: 9px 0;

    text-align: center;
    letter-spacing: 0.1em;
    &::after{
      position: absolute;
      bottom: 0;
      left: 0;

      display: inline-block;

      width: 100%;
      height: 2px;

      content: "";

      background: linear-gradient(90deg, #E77C57 0%, #0099FF 100%);
    }
  }
  &_caption{
    font-size: 1.8em;
  }
  &_text{
    font-size: 1.0em;
    line-height: 1.8em;

    display: block;

    max-width: 600px;
    margin: 0 auto;
  }
}

.plain-minimum{
  width: 100%;

  @extend .plain;
  @include mq(pc){
    width: auto;
  }
}
