.plain{
  width: 100%;
  margin: 16px 0;
  padding: 0 8px;

  color: $col-text;

  @include mq(){
  }

  &_title{
    font-family: "Montserrat", sans-serif;
    font-size: 1.6em;

    padding: 16px 0;

    text-align: center;
  }
  &_text{
    font-size: 1.0em;
    line-height: 1.5em;

    padding: 16px 0;

    @include mq(pc){
      padding: 0 64px;
    }
  }
}
